<%= render 'shared/errors', object: question %>

<%= form_with model: question do |f| %>
  <div class="mb-3 row">
    <div class="col-sm-1 form-label">
      <%= f.label :title %>
    </div>
    <div class="col-sm-11">
      <%= f.text_field :title, placeholder: 'Title', class: 'form-control' %>
    </div>
  </div>

  <div class="mb-3 row">
    <div class="col-sm-1 form-label">
      <%= f.label :body %>
    </div>
    <div class="col-sm-11">
      <%= f.text_area :body, class: 'form-control' %>
    </div>
  </div>

  <%= f.submit 'Submit', class: 'btn btn-primary' %>
<% end %>
