<% currently_at 'Questions' %>

<h2 class="mb-4"><%= @question.title %></h2>
<time datetime="<%= @question.formatted_created_at %>"><%= @question.formatted_created_at %></time>
<div class="lead my-3"><%= sanitize @question.body %></div>
<%= link_to 'Edit', edit_question_path(@question), class: 'btn btn-sm btn-secondary' %>
<%= link_to 'Delete', question_path(@question), data: {method: :delete, confirm: 'Are you sure?'}, class: 'btn btn-sm btn-danger' %>
<hr>

<h5 class="mb-3">Write your answer</h5>

<%= render 'answers/form' %>

<hr>

<h3 class="mb-2 mt-4">Answers</h3>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>

<%= render partial: 'answers/answer', collection: @answers, as: :answer, locals: {question: @question} %>

<%== pagy_bootstrap_nav(@pagy) if @pagy.pages > 1 %>
